body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    gap: 10px;
    text-align: center;
    background-color: #f3f1f1;
    grid-template-columns: repeat(2, 1f);
    grid-template-rows: 45px 30px 60px 40px 40px;
    grid-template-areas: "header header "
    "Main Main "
    "hero hero "
    "Features Sidebar "
    "Testmonials Sidebar "
    "footer footer ";
}

.header {
    grid-area: header;
    background-color: black;
     color: #ffffff;
}
.hero {
     grid-area: hero;
     background-color: rgb(228, 227, 227);
}
.Main {
    grid-area: Main;
    background-color: #34303057;

}
.Features{
    grid-area: Features;
    background-color: rgb(220, 234, 234);
}
.Testmonials{
    grid-area: Testmonials;
    background-color: rgb(192, 189, 186);
}
.Sidebar{
    grid-area: Sidebar;
    background-color: rgb(252, 242, 228);
}
.footer {
     grid-area: footer;
     background-color: black;
     color: white;
     text-align: center;
     padding: 20px;
}